.home {
  .searchBar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .search {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 8%;
      height: 45px;
    }
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
  }
}