.discover {
  display: flex;
  flex-wrap: wrap;
  // remove scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    margin: 0 auto;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    img {
      max-width: 250px;
    }
  }
}