.discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // remove scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    margin: 5px 0;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    img {
      max-width: 250px;
    }
  }
}
.end {
  padding: 15px;
  text-align: center;
}