:root {
  --primary: #6200EE;
  --secondary: #FFF;
  --text-white: #FFF;
  --text: #000;
}

header {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Audiowide', cursive;
}

body {
  background-color: var(--secondary);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, p, a {
  color: var(--text-white);
}
